body {
    background-color: white;

}

h1 {
    display: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
}

.wrapper .wrap {
border-bottom: 1px solid #4a4a4a;
}

.banner {
    height: 1064px;
    background: url(../img/Header_BG.png) no-repeat center top;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.logo a {
    margin-left: 5px;
    margin-top: 3px;
    display: flex;
    width: 133px;
    height: 29px;
}

.navigation {
    display: flex;
    list-style: none;
    padding-top: 38PX;
}

.navigation:last-child {
    margin-right: 5px;
}

.menu {
    text-align: center;
    padding-bottom: 35px;
}

.menu a {
    color: #fff;
    font-family: "Times New Roman PSMT";
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 35px;
}

.menu__a {
    margin-right: 67.5px;
}

.menu:last-child {
    margin-right: 0;
}

.menu a:hover {
    border-bottom: 1px solid #fff;
}

.statement {
    text-align: center;
    padding: 340px 0 342px 8px;
    letter-spacing: 2px;
}

h2 {
    color: #fff;
    font-family: "Lato";
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.sub-statement {
    color: #fff;
    font-family: Georgia, sans-serif;
    font-size: 32px;
    font-style: italic;
    line-height: 47px;
    letter-spacing: 0.4px;
}

.button {
    background-color: rgb(47, 172, 108);
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    height: 120px;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.button .login {
    background-color: #21424a;
    border-left: 300px solid #21424a;
    margin-left: -115PX;
    transform: skew(-13deg);
}

.button .login::after {
    content: "LOGIN";
    display: inline-block;
    transform: skew(13deg);
    padding-left: 16px;
}

.button .register {
    transform: skew(-13deg);
    border-right: 300px solid rgb(47, 172, 108);
    margin-right: -115PX;
}

.button .register::after {
    content: "REGISTER";
    display: inline-block;
    transform: skew(13deg);
    padding-right: 10px;
}

.button a {
    text-decoration: none;
    text-align: center;
    line-height: 120px;
    height: 120px;
    width: 600px;
    display: block;
    color: #ffffff;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    transition-duration: 0.4s;
    overflow: hidden;
    letter-spacing: 1.5px;
    padding-left: 11px;
}

.button a::before {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button a:active::before {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button .login:hover {
    background-color: #122930;
    border-left: 300px solid #122930;
}

.button .register:hover {
    background-color: rgb(29, 90, 58);
    border-right: 300px solid rgb(29, 90, 58);
}

.second-statement {
    text-align: center;
    padding: 90px 0 30px 0;
}

.second-statement h3 {
    color: #383737;
    font-family: "Lato - Heavy";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.9px;
}

.second-statement span {
    width: 884px;
    height: 15px;
    color: #a2a2a2;
    font-family: "Montserrat - Ultra Light";
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1.3px;
}

.container {
    width: 890px;
    margin: auto;
    padding-bottom: 40px;
}

form {
    width: 890px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.domain__input {
    width: 730px;
    line-height: 30px;
    margin-top: 8px;
    color: #868686;
    font-family: "Lato - Semibold";
    font-size: 16px;
    font-weight: 400;
    border-left: 1px solid #d9d9d9;
    border-top: none;
    border-bottom: none;
    padding-left: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

.www {
    text-align: center;
    line-height: 50px;
    float: left;
    width: 60px;
    color: #686868;
    font-family: "Lato - Semibold";
    font-size: 18px;
    font-weight: 400;
}

select {
    color: #686868;
    font-family: "Lato";
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -1.36px;
    border: none;
    padding-right: 10px;
}


.box {
    width: 890px;
    height: 190px;
    border: 1px solid #d9d9d9;
}

.container table tr td {
    color: #cbcbcb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    width: 215px;
    height: 80px;
    text-align: center;
    padding-top: 35px;
}

.container table {
    position: relative;
    margin: 18px auto;
}

.container .top td {
    border-bottom: 1px solid #d9d9d9;
    line-height: 0px;
}

.container .inner {
    border-left: 1px solid #d9d9d9;
}

.container .top .inner::after {
    content: "";
    position: absolute;
    display: block;  
    width: 15px;
    height: 15px;
    background-color: white;
    margin-left: -8px;
    margin-top: 37px;
}

.second-banner {
    background: url(../img/41.png.png) no-repeat center top;
    height: 383px;
    margin-top: 52px;
}

.second-banner::after {
    content : "";
    display: block;
    background: url(../img/font.png) repeat; 
    width: 300%;
    margin-left: -600px;
    height: 383px;
    opacity : 0.7;
    transform: skew(-45deg);
}

.package {
    position: relative;
    margin-top: -283px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-block .first  {
    color: #f9d423;
}

.first-block .icon {
    border-color: #f9d423;
}

.first-block strong {
    border-color: #f9d423;
}

.first-block .frame {
    border-right-color: #f9d423;
}

.first-block .value {
    color: #f9d423;
    font-family: "Lato - Semibold";
    font-weight: 400
}

.second-block .first  {
    color: #7f8c8d;
}

.second-block .icon {
    border-color: #7f8c8d;
}

.second-block strong {
    border-color: #7f8c8d;
}

.second-block .frame {
    border-right-color: #7f8c8d;
    border-bottom-color: #7f8c8d;
}

.second-block .value {
    color: #7f8c8d;
    font-family: "Lato - Semibold";
    font-weight: 400
}

.third-block .first  {
    color: #f85f40;
}

.third-block .icon {
    border-color: #f85f40;
}

.third-block strong {
    border-color: #f85f40;
}

.third-block .frame {
    border-right-color: #f85f40;
    border-bottom-color: #f85f40;
    border-left-color: #f85f40;
}

.third-block .value {
    color: #f85f40;
    font-family: "Lato - Semibold";
    font-weight: 400
}

.fourth-block .first  {
    color: #1abc9c;
}

.fourth-block .icon {
    border-color: #1abc9c;
}

.fourth-block strong {
    border-color: #1abc9c;
}

.fourth-block .frame {
    border-color: #1abc9c;
}

.fourth-block .value {
    color: #1abc9c;
    font-family: "Lato - Semibold";
    font-weight: 400
}

.package-block {
    width: 255px;
    height: 565px;
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
}

.icon {
    padding-left: 110px;
    padding-top: 43px;
    border-top: 5px solid;
}

.first  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 40px;
    font-family: "Font Awesome";
    font-size: 17px;
    font-weight: 400;
}

.frame {
    margin-left: -38px;
    border: 7px solid;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    width: 43px;
    height: 42px;
    transform: rotate(-45deg);
    transition: all 0.7s linear;
}

.package-block:hover .frame {
    transform: rotate(315deg);
    shape-rendering: crispEdges;
}

.package-block:hover .package-price {
    background-color: rgb(247, 248, 240);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

.package-block h3 {
    margin: 24px auto 17px;
    display: block;
    width: 200px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    color: #282828;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.package-details {
    display: flex;
    justify-content: space-between;
}

.package-details table {
    color: #b4b4b4;
    width: 201px;
    height: 265px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid #dfdfdf;
    margin-left: 28px;
}

table .value-right {
    padding-left: 9px;
}

.package-price {
    display: block;
    width: 105px;
    height: 80px;
    margin: 0 auto;
    text-decoration: none;
    padding-top: 30px;
    transition: all 0.7s ease-in-out;
    color: black;
}

.price .a {
    vertical-align: text-top;
    font-family: "Lato - Heavy";
    font-size: 18px;
    font-weight: 800;
    padding-left: 3px;
}

.price .b {
    vertical-align: middle;
    font-family: "Lato - Bold";
    font-size: 28px;
    font-weight: 800;
}

.price .c {
    vertical-align: bottom;
    color: #8d8d8d;
    font-family: "Lato - Regular";
    font-weight: 400;
}

a .price {
    margin-bottom: 25px;
    text-align: center;
}

a strong {
    padding-top: 16px;
    width: 105px;
    border-top: 4px solid;
    color: #282828;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 3px;
}

.about-us {
    display: flex;
    margin-top: 100px;
    border-top: 2px dotted #d4d4d4;
}

.about-us__block {
    height: 396px;
    width: 520px;
}

.content-block {
    margin-top: 100px;
    padding-right: 99px;
    border-right: 2px dotted #d4d4d4;
}

.head {
    display: flex;
    color: #303030;
    font-family: "Lato - Black";
    font-size: 35px;
    font-weight: 400;
}

.head div {
    font-family: "Lato - bold";
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 1px;
}

.head span {
    font-family: "Lato - Semibold";
    font-weight: 600;
    margin-left: 10px;
}

.content-block p {
    color: #747474;
    font-family: "Lato - Thin";
    font-size: 18px;
    font-weight: 400;
    line-height: 27.08px;
    margin-top: 22px;
    letter-spacing: 0.3px;
}

.doe-block {
    display: flex;
    justify-content: space-around;
    margin-top: 105px;
    height: 184px;
    width: 685px;
    margin-left: 40px;
}

.doe {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.doe img {
    width: 91px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    
}

.doe strong {
    color: #303030;
    font-family: "Lato - Semibold";
    font-size: 17px;
    font-weight: 400;
    margin-top: 14px;
    letter-spacing: 0.75px;
    margin-left: 4px;
}

.doe span {
    color: #8e8e8e;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
}

.doe .social {
    margin-top: 13px;
    font-size: 18px;
    font-weight: 400;
    text-decoration-line: none;
    display: flex;
    justify-content: space-between;
    width: 90px;
}

.doe .social a{
    color: #bfbfbf;
}

.doe .social a:hover {
    color: #1f89ba;
    font-size: 22px;
}

.slider {
    height: 190px;
    background: url(../img/2-layers.jpg) no-repeat center top;
    background-color: rgba(0, 0, 0, 0.75);
}

.slider p {
    padding-top: 46px;
    text-align: center;
    color: #ffffff;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.toggle {
    display: flex;
    justify-content: center;
}

#athor {
    margin-top: 16px;
    color: #ffffff;
    font-family: "Lato";
    font-size: 17px;
    font-weight: 600;
    border-right: 1px solid #979797;
    padding-right: 10px;
    margin-left: 15px;
    letter-spacing: 1.4px;
}

.toggle .btn {
    position: relative;
    left: 5px;
    top: 20px;
    margin-left: 7px;
    width: 6px;
    height: 13px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

.btn:active {
    background: rgba(255,255,255, 1);
}

.services-link {
    text-decoration: none;
}

.services-link:hover .decoy__span {
    font-size: 22px;
    border-bottom: 2px solid rgb(108, 176, 231);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
    padding-bottom: 5px;
}

.decoy {
    height: 342px;
    width: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 99px;
    width: 61px;
    height: 60px;
    border-radius: 50%;
}

.circle .fas {
    color: #ffffff;
    font-size: 28px;
}

.decoy__span {
    margin-top: 20px;
    color: #303030;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transition: all 0.3s ease;
}

.decoy p {
    margin-top: 7px;
    text-align: center;
    width: 222px;
    height: 37px;
    color: #7e7e7e;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
    line-height: 22.03px;
    letter-spacing: 0.1px;
}

.first-circle .circle {
    background: #f1c40f;
}

.second-circle .circle {
    background-color: #0faff1;
}

.third-circle .circle {
    background-color: #95a5a6;
}

.fourth-circle .circle {
    background-color: #f1540f;
}

footer {
    height: 294px;
    background-color: #2a2a2a;
    margin-top: -10px;
}

footer nav {
    margin-left: 620px;
}

.links {
    text-align: center;
    padding-bottom: 32px;
}

.links :last-child {
    margin-right: 0px;
}

footer .links a {
    color: #686868;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 44px;
    padding-bottom: 32px;
    text-decoration-line: none;
}

.links a:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
}

footer .contacts {
    position: absolute;
    margin-top: 300px;
}

.contacts .left {
    margin-top: 30px;
    padding-top: 10px;
    padding-right: 80px;
    height: 150px;
    color: #686868;
    font-family: Lato;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
}
.contacts p {
    margin-top: 13px;
}

.contacts p strong{
    font-family: "Lato - Bold";
    font-weight: 700;
    line-height: 26px;
}

.contacts .middle {
    display: flex;
    width: 510px;
    line-height: 29.04px;
    border-right: 1px solid #4a4a4a;
    border-left: 1px solid #4a4a4a;
}

.contacts .right {
    padding-left: 85px;
    color: #686868;
    font-family: "Lato - Semibold";
    font-size: 14px;
    font-weight: 400;
    line-height: 29.12px;
    letter-spacing: 0.6px;
}

.contacts i {
    margin-right: 10px;
}

.middle a {
    font-family: "Lato";
    font-size: 15px;
    font-weight: 300;
    width: 130px;
}

.middle a:hover {
    padding-left: 10px;
}

.contacts a:hover {
    color: #fffefe;
}

.middle__left {
    position: absolute;
    margin-left: 110px;
}

.middle__right {
    margin-left: 295px;
}

.contacts a {
    text-decoration: none;
    color: #686868;
}